In [1]:
import pandas as pd

## Charity Regulator Data

In [4]:
annual_reports = pd.read_csv("../Charity_Data/annual-reports-15012021.csv")
annual_reports.head(1)

,Registered Charity Number,Registered Charity Name,Report Size,Period Start Date,Period End Date,Report Activity,Activity Description,Beneficiaries,Financial: Income from Central Government or Local Authorities,Financial: Income from other public bodies,Financial: Income from philantrophic organisations,Financial: Income from donations,Financial: Income from trading and commercial activities,Financial: Income from other sources,Financial: Gross Income,Financial: Gross Expenditure,Financial: Gross Income (Schools),Financial: Gross Expenditure (Schools),Number of Volunteers
0,20000028,Trinity College Dublin,Large (more than EUR100k,01/10/2014,30/09/2015,Advice/advocacy/information; Education/trainin...,"Trinity College is a community of scholars,mad...",Adult training; Arts &amp; culture; Community ...,NaN,NaN,NaN,NaN,NaN,NaN,"€317,574","€344,238,000",NaN,NaN,NONE

In [5]:
public_registry = pd.read_csv("../Charity_Data/public-register-15012021.csv")
public_registry.head(1)

,Registered Charity Number,Registered Charity Name,Status,Also Known As,Primary Address,Governing Form,CHY Number,CRO Number,Country Established,Charitable Purpose,Charitable Objects,Unnamed: 11
0,20000011,Linden Convalescent Home,Deregistered S40 by Revenue,Linden Convalescent Home,"Linden Conv Home, Stillorgan, Co. Dublin, Ireland",Other,4,NaN,Ireland,Advancement of religion,NaN,NaN